In [28]:
import pandas as pd
import numpy as np
from IPython.display import display

In [29]:
entities_df = pd.read_csv('entities.csv', index_col = "id")
entities_df.head(10)

,uuid,customer_id,product_id,creator_id,type,title,description,settings,setting,location,area,_lft,_rgt,parent_id,created_at,updated_at,deleted_at,extra_attributes,tenant_id
id,,,,,,,,,,,,,,,,,,,
1990,be309251-c09d-4be9-972c-92f1f92aff9d,NaN,NaN,NaN,NaN,NML03112,NaN,[],[],NaN,NaN,3925,3926,NaN,2021-03-25 17:00:40,2021-04-24 13:10:30,NaN,"{""dept"": ""MFG"", ""name"": ""Gloria Schulist"", ""sh...",56
1989,ca550bd0-5826-43f4-88f2-ce8ce77f7523,NaN,NaN,NaN,NaN,DN01116N,NaN,[],[],NaN,NaN,3923,3924,NaN,2021-03-25 17:00:40,2021-04-24 13:10:30,NaN,"{""dept"": ""MFG"", ""name"": ""Jalen Greenfelder"", ""...",56
1988,a6326dca-39c6-4b75-8112-e03fb4acd052,NaN,NaN,NaN,NaN,01406085,NaN,[],[],NaN,NaN,3921,3922,NaN,2021-03-25 17:00:40,2021-04-24 13:10:30,NaN,"{""dept"": ""MFG"", ""name"": ""Retha Bins"", ""shift"":...",56
1987,7756a6b2-8f21-4ff3-b500-b1804aa73406,NaN,NaN,NaN,NaN,01392030,NaN,[],[],NaN,NaN,3919,3920,NaN,2021-03-25 17:00:40,2021-04-24 13:10:30,NaN,"{""dept"": ""MFG"", ""name"": ""Ella Wunsch"", ""shift""...",56
1986,df1e6025-3e1f-4fd8-976f-87b752376d84,NaN,NaN,NaN,NaN,01162558,NaN,[],[],NaN,NaN,3917,3918,NaN,2021-03-25 17:00:40,2021-04-24 13:10:30,NaN,"{""dept"": ""MFG"", ""name"": ""Aliza Lockman"", ""shif...",56
1985,cb0320f5-bfbc-45c3-9845-6ca6bcce7f1d,NaN,NaN,NaN,NaN,00030414,NaN,[],[],NaN,NaN,3915,3916,NaN,2021-03-25 17:00:40,2021-04-24 13:10:30,NaN,"{""dept"": ""MFG"", ""name"": ""Hope Vandervort"", ""sh...",56
1984,7a0a2b8d-ec9b-4dcf-80f1-3f78c78309d3,NaN,NaN,NaN,NaN,00030122,NaN,[],[],NaN,NaN,3913,3914,NaN,2021-03-25 17:00:40,2021-04-24 13:10:30,NaN,"{""dept"": ""MFG"", ""name"": ""Gia Veum"", ""shift"": ""...",56
1983,f0dfdbeb-5e12-43b3-8a65-278be5ff40bd,NaN,NaN,NaN,NaN,01262701,NaN,[],[],NaN,NaN,3911,3912,NaN,2021-03-25 17:00:40,2021-04-24 13:10:30,NaN,"{""dept"": ""ME"", ""name"": ""Zachariah Hammes"", ""sh...",56
1982,f1a88acf-9e7c-4a91-8d2e-2a2e75341ff6,NaN,NaN,NaN,NaN,00135089,NaN,[],[],NaN,NaN,3909,3910,NaN,2021-03-25 17:00:40,2021-04-24 13:10:30,NaN,"{""dept"": ""IE"", ""name"": ""Karelle Quitzon"", ""shi...",56
1981,0e321b3e-5afa-4f5c-8993-468b1abddcf9,NaN,NaN,NaN,NaN,01591227,NaN,[],[],NaN,NaN,3907,3908,NaN,2021-03-25 17:00:40,2021-04-24 13:10:30,NaN,"{""dept"": ""QA"", ""name"": ""Javier Satterfield"", ""...",56

In [30]:
print(entities_df.columns)

print("-----------")

print(entities_df.shape)

print("-----------")

print(entities_df.info())

Index(['uuid', 'customer_id', 'product_id', 'creator_id', 'type', 'title',
       'description', 'settings', 'setting', 'location', 'area', '_lft',
       '_rgt', 'parent_id', 'created_at', 'updated_at', 'deleted_at',
       'extra_attributes', 'tenant_id'],
      dtype='object')
-----------
(1307, 19)
-----------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1307 entries, 1990 to 683
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   uuid              1307 non-null   object
 1   customer_id       0 non-null      float64
 2   product_id        0 non-null      float64
 3   creator_id        0 non-null      float64
 4   type              0 non-null      float64
 5   title             1307 non-null   object
 6   description       0 non-null      float64
 7   settings          1307 non-null   object
 8   setting           1307 non-null   object
 9   location          0 non-null      float64
 10  area              0 non-null      float64
 11  _lft              1307 non-null   int64
 12  _rgt              1307 non-null   int64
 13  parent_id         0 non-null      float64
 14  created_at        1307 non-null   object
 15  updated_at        1307 non-null   object
 16  deleted_at        0 non-null      float64
 17  extra_attributes  1307 non-null   object
 18  tenant_id         1307 non-null   int64
dtypes: float64(9), int64(3), object(7)
memory usage: 204.2+ KB
None

In [32]:
nullvalue_sum = entities_df.isna().sum()
nullvalue_sum[0:]

uuid                   0
customer_id         1307
product_id          1307
creator_id          1307
type                1307
title                  0
description         1307
settings               0
setting                0
location            1307
area                1307
_lft                   0
_rgt                   0
parent_id           1307
created_at             0
updated_at             0
deleted_at          1307
extra_attributes       0
tenant_id              0
dtype: int64

In [33]:
entities_clean = entities_df.dropna(axis = 1, how = 'all')
print(entities_clean.info())
print("-------------")
entities_clean.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1307 entries, 1990 to 683
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   uuid              1307 non-null   object
 1   title             1307 non-null   object
 2   settings          1307 non-null   object
 3   setting           1307 non-null   object
 4   _lft              1307 non-null   int64
 5   _rgt              1307 non-null   int64
 6   created_at        1307 non-null   object
 7   updated_at        1307 non-null   object
 8   extra_attributes  1307 non-null   object
 9   tenant_id         1307 non-null   int64
dtypes: int64(3), object(7)
memory usage: 112.3+ KB
None
-------------

,uuid,title,settings,setting,_lft,_rgt,created_at,updated_at,extra_attributes,tenant_id
id,,,,,,,,,,
1990,be309251-c09d-4be9-972c-92f1f92aff9d,NML03112,[],[],3925,3926,2021-03-25 17:00:40,2021-04-24 13:10:30,"{""dept"": ""MFG"", ""name"": ""Gloria Schulist"", ""sh...",56
1989,ca550bd0-5826-43f4-88f2-ce8ce77f7523,DN01116N,[],[],3923,3924,2021-03-25 17:00:40,2021-04-24 13:10:30,"{""dept"": ""MFG"", ""name"": ""Jalen Greenfelder"", ""...",56
1988,a6326dca-39c6-4b75-8112-e03fb4acd052,01406085,[],[],3921,3922,2021-03-25 17:00:40,2021-04-24 13:10:30,"{""dept"": ""MFG"", ""name"": ""Retha Bins"", ""shift"":...",56
1987,7756a6b2-8f21-4ff3-b500-b1804aa73406,01392030,[],[],3919,3920,2021-03-25 17:00:40,2021-04-24 13:10:30,"{""dept"": ""MFG"", ""name"": ""Ella Wunsch"", ""shift""...",56
1986,df1e6025-3e1f-4fd8-976f-87b752376d84,01162558,[],[],3917,3918,2021-03-25 17:00:40,2021-04-24 13:10:30,"{""dept"": ""MFG"", ""name"": ""Aliza Lockman"", ""shif...",56
1985,cb0320f5-bfbc-45c3-9845-6ca6bcce7f1d,00030414,[],[],3915,3916,2021-03-25 17:00:40,2021-04-24 13:10:30,"{""dept"": ""MFG"", ""name"": ""Hope Vandervort"", ""sh...",56
1984,7a0a2b8d-ec9b-4dcf-80f1-3f78c78309d3,00030122,[],[],3913,3914,2021-03-25 17:00:40,2021-04-24 13:10:30,"{""dept"": ""MFG"", ""name"": ""Gia Veum"", ""shift"": ""...",56
1983,f0dfdbeb-5e12-43b3-8a65-278be5ff40bd,01262701,[],[],3911,3912,2021-03-25 17:00:40,2021-04-24 13:10:30,"{""dept"": ""ME"", ""name"": ""Zachariah Hammes"", ""sh...",56
1982,f1a88acf-9e7c-4a91-8d2e-2a2e75341ff6,00135089,[],[],3909,3910,2021-03-25 17:00:40,2021-04-24 13:10:30,"{""dept"": ""IE"", ""name"": ""Karelle Quitzon"", ""shi...",56
1981,0e321b3e-5afa-4f5c-8993-468b1abddcf9,01591227,[],[],3907,3908,2021-03-25 17:00:40,2021-04-24 13:10:30,"{""dept"": ""QA"", ""name"": ""Javier Satterfield"", ""...",56

In [ ]:
%pwd

In [ ]:
entities_clean.to_csv("Cleaned_csv_file/entities_clean.csv")

In [34]:
entities_clean.loc[1990, 'extra_attributes']

'{"dept": "MFG", "name": "Gloria Schulist", "shift": "Morning", "title": "NML03112", "supvid": "00031138", "daytype": "Regular", "job cat": "DL", "category": "XA", "supvname": "Wong Tai Yih", "workcell": "KEYSIGHT", "costcenter": "712008", "department": "MF04", "shiftgroup": "G26.C"}'

In [10]:
def CustomParser(data):
    import json
    j1 = json.loads(data)
    return j1

df = pd.read_csv("Cleaned_csv_file/entities_clean.csv", converters={'extra_attributes':json.loads},header=0)
df[sorted(df['extra_attributes'][0].keys())] = df['extra_attributes'].apply(pd.Series)

ValueError: Columns must be same length as key

In [35]:
import json
df = pd.read_csv("Cleaned_csv_file/entities_clean.csv", index_col = "id", converters={'extra_attributes': json.loads},header=0)

In [36]:
df.head()

,uuid,title,settings,setting,_lft,_rgt,created_at,updated_at,extra_attributes,tenant_id
id,,,,,,,,,,
1990,be309251-c09d-4be9-972c-92f1f92aff9d,NML03112,[],[],3925,3926,2021-03-25 17:00:40,2021-04-24 13:10:30,"{'dept': 'MFG', 'name': 'Gloria Schulist', 'sh...",56
1989,ca550bd0-5826-43f4-88f2-ce8ce77f7523,DN01116N,[],[],3923,3924,2021-03-25 17:00:40,2021-04-24 13:10:30,"{'dept': 'MFG', 'name': 'Jalen Greenfelder', '...",56
1988,a6326dca-39c6-4b75-8112-e03fb4acd052,01406085,[],[],3921,3922,2021-03-25 17:00:40,2021-04-24 13:10:30,"{'dept': 'MFG', 'name': 'Retha Bins', 'shift':...",56
1987,7756a6b2-8f21-4ff3-b500-b1804aa73406,01392030,[],[],3919,3920,2021-03-25 17:00:40,2021-04-24 13:10:30,"{'dept': 'MFG', 'name': 'Ella Wunsch', 'shift'...",56
1986,df1e6025-3e1f-4fd8-976f-87b752376d84,01162558,[],[],3917,3918,2021-03-25 17:00:40,2021-04-24 13:10:30,"{'dept': 'MFG', 'name': 'Aliza Lockman', 'shif...",56

In [37]:
entities_assets = df['extra_attributes']
display(entities_assets)

id
1990    {'dept': 'MFG', 'name': 'Gloria Schulist', 'sh...
1989    {'dept': 'MFG', 'name': 'Jalen Greenfelder', '...
1988    {'dept': 'MFG', 'name': 'Retha Bins', 'shift':...
1987    {'dept': 'MFG', 'name': 'Ella Wunsch', 'shift'...
1986    {'dept': 'MFG', 'name': 'Aliza Lockman', 'shif...
                              ...
688     {'dept': 'ME', 'name': 'Chandler Langworth', '...
687     {'dept': 'ME', 'name': 'Elena Zieme', 'shift':...
686     {'dept': 'ME', 'name': 'Tabitha Glover', 'shif...
685     {'dept': 'MFG', 'name': 'Donna Haley', 'shift'...
683     {'dept': 'MFG', 'name': 'Madilyn Crooks', 'shi...
Name: extra_attributes, Length: 1307, dtype: object

In [38]:
entities_assets.to_csv("Cleaned_csv_file/entities_assets.csv")

In [41]:
stdf = df['extra_attributes'].apply(json.loads)
pd.DataFrame(stdf.tolist())

TypeError: the JSON object must be str, bytes or bytearray, not dict

In [44]:
df2 = pd.read_csv('Cleaned_csv_file/entities_clean.csv', converters={'extra_attributes': eval})

NameError: name 'null' is not defined